// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// All anchor links should not be underlined
a { text-decoration: none !important; &:hover { text-decoration: none !important; } }

// Always use the same colour for sidebar links (Default is to display them as grey until the sidebar is hovered)

aside.sidebar { a { color: $sidebar-link-color; } }
